.streamlit/
other/*
!other/dramatic.mp3
!other/resume.pdf
!other/cover_letter.pdf
productions/
bucket/Sketchy/
sketchy_production/
!sketchy_production/fastapi_sketchy.py
!sketchy_production/Docekrfile
.env
.envrc